@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300,900&family=Roboto:wght@500&display=swap');

body {
  background-color: #f6f9fc;
  font-family: 'Roboto', sans-serif;
  color: #142F43;
  font-size: 12px;
}

.container {
  width: 50%;
  margin: 0 auto;
  align
}

/* media queries */

@media (max-width: 960px) {
  .container {
    width: 70%;
  }
}
@media (max-width: 720px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 540px) {
  .container {
    width: 90%;
  }
}


h1 {
  font-weight: 900px;
  font-size: 50px;
}

.img-circle {
  height: 150px;
  width: 150px;
  border-radius:60%;
  object-fit:cover;

}

a {
  color:#f6f9fc;
  text-decoration: none;
}

.icons{
  color: #142F43;
}

.card {
  background-color:white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(150,150,150);
  margin: 20px 0px;
  padding: 10px;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  margin: 0 5px;
}
.list-inline {
  padding-left: 0px;
}

.button-orange {
  background-color: #FFAB4C;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 10px;
  border: 2px solid #FFAB4C;
  vertical-align: middle;
}

.button-orange:hover {
  color:#FFAB4C;
  background-color: #f6f9fc;
}
